<!doctype html>

{% load static %}

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pygame Website</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static "css/normalize.css" %}">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
    {% block css %}
    {% endblock %}
</head>

<body>
	<header>
		<div class="container">
			<a href="#" class="logo">
				<img src="https://www.pygame.org/docs/_static/pygame_tiny.png" alt="">
			</a>
			<nav role="navigation">
				<ul class="main-menu">
					<li><a class="trans" href="#">About</a></li>
					<li><a class="trans" href="#">Downloads</a></li>
					<li><a class="trans" href="#">Documentation</a></li>
					<li><a class="trans" href="#">Projects</a></li>
					<li><a class="trans" href="#">Community</a></li>
					<li><a class="trans" href="#">News</a></li>
				</ul>
			</nav>
		</div>
	</header>
    <!-- Normal content -->
	{% block content %}
	{% endblock %}
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-4" >
					<section>
						<a href="#"><h3 class="trans">Pygame</h3></a>
						<ul class="list-unstyled">
							<li><a href="#">About</a></li>
							<li><a href="#">Downloads</a></li>
							<li><a href="#">Documentation</a></li>
							<li><a href="#">News</a></li>
							<li><a href="#">Pygame FAQ</a></li>
							<li><a href="#">Bugs &amp; Patches</a></li>
							<li><a href="#">Mercurial</a></li>
						</ul>
					</section>
				</div>
				<div class="col-md-4" >
					<section>
						<a href="#"><h3 class="trans">Community</h3></a>
						<ul class="list-unstyled">
							<li><a href="#">Tutorials</a></li>
							<li><a href="#">Questions</a></li>
							<li><a href="#">Resources</a></li>
							<li><a href="#">Links</a></li>
							<li><a href="https://www.reddit.com/r/pygame/">Reddit</a></li>
						</ul>
					</section>
				</div>
				<div class="col-md-4" >
					<section>
						<a href="#"><h3 class="trans">Projects</h3></a>
						<ul class="list-unstyled">
							<li><a href="#">Recents</a></li>
							<li><a href="#">Spotlight</a></li>
							<li><a href="#">Tags</a></li>
							<li><a href="#">Last comments</a></li>
						</ul>
					</section>
				</div>
			</div>
		</div>
	</footer>
	<div class="container ">
		<p>&copy; 2015 - Python Gaming</p>
	</div>
	<!-- Required scripts -->
	{% block scripts %}
	{% endblock %}
</body>
</html>

