<!doctype html>

{% load static %}

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pygame Website</title>
	<link rel="stylesheet" href="{% static "css/normalize.css" %}">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
    {% block css %}
    {% endblock %}
</head>

<body>
	<header>
		<div class="container">
			<a href="#" class="logo">
				<img src="https://www.pygame.org/docs/_static/pygame_tiny.png" alt="">
			</a>
			<div flex></div>
			<nav role="navigation">
				<ul class="main-menu">
					<li><a href="#">About</a></li>
					<li><a href="#">Downloads</a></li>
					<li><a href="#">Documentation</a></li>
					<li><a href="#">Projects</a></li>
					<li><a href="#">Community</a></li>
					<li><a href="#">News</a></li>
				</ul>
			</nav>
		</div>
	</header>
    <!-- Normal content -->
	{% block content %}
	{% endblock %}
	<!-- Required scripts -->
	{% block scripts %}
	{% endblock %}
</body>
</html>

