/**** RESETS ****/
a {
    color : inherit;
}
a:hover{
    text-decoration : none;
    color : inherit;
}
h1,h2,h3,h4,h5,h6{
    margin-top : 0;
}
ul{
    margin-bottom : 0;
}

/****      LAYOUT       ****/

html {
    height: 100%;
    color: rgba(0,0,0,.87);
    background: #fff;
    position: relative;
}

body {
    width: 100%;
    height: 100%;
}

h1,h2,h3,h4,h5,h6{
    margin-bottom :20px;
}
/*apply this to elements that you want to give a certain hover effect to*/
.trans{
    transition : all .5s;
}
.trans:hover{
    background : #fff;
    color : #56ac89;
}

.flex{
	box-sizing: border-box;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.layout-fill{
	margin:0;
	min-height:100%;
	height:100%;
	width:100%;
}


/****      MENU       ****/
header{
	background-color: #88cc99;
}
nav{
	float:right;
	display : inline-block;
}

.main-menu {
	display: flex;
	margin: 0;
	padding: 0;
        color : white;
	font-weight : bold;
	font-size:16px;
}

.main-menu li {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-menu a {
	padding: 1.7em 0.8em;
	text-decoration: none;
}


/****      FOOTER       ****/
footer{
	padding : 40px;
	background-color: #56ac89;
	color : white;
}

footer h3{
    padding : 10px;
    border : 1px solid #88cc99;
    transition : all .5s;
    text-align : center;
}

footer a {
	text-decoration: none;
}

footer li a:hover {
	text-decoration: underline;
}


/****      buttons       ****/




/****      landing page       ****/
.landing-message{
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	-ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.landing-message p{
	font-size: 3em;
	margin: 0 3em;
	text-align: center;
}
